@import "../../../scss/modules/mixins";
@import "../../../scss/modules/variables";

.login-input {
  height: 48px !important;
  padding: 0 !important;
  padding-left: 24px !important;
  margin: 12px 56px !important;
}
