@import "../../../scss/modules/mixins";
@import "../../../scss/modules/variables";

button {
  border-radius: 6px !important;
  height: 48px !important;
  padding: 13px 0px !important;
  box-shadow: 0px 8px 16px rgba(67, 97, 154, 0.09);

  &:disabled {
    color: #ffffff;
    border: 0;
    background-color: #b0bec5 !important;
  }
}

.loginbutton {
  @include font($size: 14px, $weight: 500);
  margin: 0;
  background-color: $primary;
  border: 1px solid transparent;
  color: #ffffff;
  width: 100%;
  &:hover {
    background-color: darken($color: $primary, $amount: 10%);
    color: #ffffff;
  }
}

.alternatelogin {
  @include font($size: 12px, $colour: $black, $weight: 500);
  margin: 0;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  width: 100%;
  &:hover {
    background-color: darken($color: #ffffff, $amount: 10%);
    border: 1px solid transparent;
  }
}
