@import "../../../scss/modules/mixins";
@import "../../../scss/modules/variables";

#rowcontainer-left {
  width: 100%;
  height: 100vh;
  @include flex-center-horiz;
  background: linear-gradient(
      12.09deg,
      #3656a1 29.16%,
      rgba(54, 86, 161, 0.14) 70.5%,
      rgba(54, 86, 161, 0) 93.07%
    ),
    url(./../../../img/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#iconplay {
  height: fit-content;
  margin-top: 40vh;
  width: 100%;
  @include flex-center-horiz;
}

#text {
  width: 100%;
  @include flex-center-horiz;
  text-align: center !important;
  div {
    width: 400px;
    span {
      width: 100%;
      @include font($size: 24px, $colour: white, $weight: 600, $lh: 36px);
    }
    p {
      width: 100%;
      @include font($size: 12px, $colour: white, $weight: 400, $lh: 22px);
    }
  }
}

#copyright {
  width: 100%;
  margin: 25px 56px;
  height: min-content;

  @include font($size: 12px, $colour: white, $weight: 400, $lh: 18px);
}
